<?xml version="1.0"?>
<!--
/**
 * Copyright © TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\App\Config">
        <plugin
            name="after_get_tnw_authorize_cim_vault_active_value"
            type="TNW\AuthorizeCim\Plugin\Framework\App\Config\AfterGetTnwAuthorizeCimVaultActiveValue"
        />
    </type>
</config>
