<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 TechNWeb, Inc. All rights reserved.
 * See TNW_LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="customer_save_after_data_object">
        <observer name="tnw_authorize_cim_data_assign" instance="TNW\AuthorizeCim\Observer\UpdateCustomerEmailProfile" />
    </event>
</config>
